body,
html {
    font-family: 'Roboto Slab', serif;
    font-size: 10px;
    color: white;
    background-color: #05090A;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.container-sm {
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
}
